@model List<InventoryApplicationContract.Categores.viewModel>
<div class="page-wrapper">
<div class="content">

           <div class="page-header">
            <div class="page-title">
            <h4>لیست دسته بندی محصولات</h4>
            <h6>جستوجوی دسته بندی</h6>
            </div>
            <div class="page-btn">
            <a href="addcategory.html" class="btn btn-added">
            <img src="~/assets/img/icons/plus.svg" class="me-1" alt="img">افزودن دسته بندی
            </a>
            </div>
            </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="~/assets/img/icons/filter.svg" alt="img">
                                <span><img src="~/assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="~/assets/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="~/assets/img/icons/pdf.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="~/assets/img/icons/excel.svg" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="~/assets/img/icons/printer.svg" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>نام دسته بندی</th>
                                <th>کد دسته بندی</th>
                                <th>توضیحات</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model)
                            {
                                <tr>
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="productimgname">
                                        <a href="javascript:void(0);" class="product-img">
                                        </a>
                                        <a href="javascript:void(0);">@item.CategoryName</a>
                                    </td>
                                    <td>@item.CategoryCode</td>
                                    <td>@item.Descirption</td>
                                    <td>
                                        <a class="me-3" href="editcategory.html">
                                            <img src="~/assets/img/icons/edit.svg" alt="img">
                                        </a>
                                        <a class="me-3 confirm-text" href="javascript:void(0);">
                                            <img src="~/assets/img/icons/delete.svg" alt="img">
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>
</div>

