@using System.Security.Cryptography.X509Certificates
@model InventoryVoucherItem

<div class="page-wrapper">
    <div class="content">

        <div class="card">
            <div class="card-header text-center">
                <h4>سند خرید انبار</h4>
            </div>

            <div class="card-body">

                <div class="row">
                          <div class="col-8">
                            <div class="input-group mb-3">
                                <span class="input-group-text">مشتری</span>
                                <select id="SupplierRef" asp-items="@Model.supplier" asp-for=" SupplierRef">
                                    <option>مشتری را انتخاب کنید</option>

                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">انبار</span>
                                <select id="store" asp-items="@Model.store" asp-for=" storeref">
                                    <option>انبار را انتخاب کنید</option>

                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">نوع خرید</span>
                                <select id="VoucherType" class="" asp-for=" VoucherType">
                                    <option value="1">خرید</option>
                                    <option value="2"> برگشت از خرید </option>

                                </select>
                            </div>
                        </div>
                        <div class="col-4">

                            <div class="input-group mb-3">
                                <span class="input-group-text">شماره سند انبار</span>
                                <input id="nummber" type="text" class="form-control" placeholder="Inv. No" asp-for=" nummber">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text"> تاریخ</span>
                                <div class="input-groupicon">
                                    <input id="Dates" type="text" placeholder="DD-MM-YYYY" class="datetimepicker" asp-for=" Dates">
                                    <div class="addonset">
                                        <img src="~/assets/img/icons/calendars.svg" alt="img">
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="col-4">

                            <div class="input-group mb-3">
                                <span class="input-group-text"> توضیحات   </span>
                                <input type="text" class="form-control" asp-for=" Description" placeholder="Inv. No">
                            </div>
                        </div>
                 </div>

                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <span class="input-group-text">کالا </span>
                            <select id="selectBox">
                                <option value="">Select content...</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <span class="input-group-text">واحد سنجش </span>

                            <select id="selectBox2">
                                <option value="">Select content...</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <span class="input-group-text">تعداد </span>

                            <input type="text" id="textInput" placeholder="Enter a value">
                        </div>
                        <div class="col-3">
                            <span class="input-group-text">توضیحات </span>

                            <input type="text" id="additionalInput" placeholder="Additional Input">
                        </div>
                    </div>
                    <button id="addButton">Add</button>
                    <table id="contentTable">
                        <thead>
                            <tr>
                                <th> نام کالا</th>
                                <th>واحد سنجش</th>
                                <th>تعداد</th>
                                <th>تعداد</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button id="sendButton">Send Data to Controller</button>
                </div>



                <div class="row">
                    <div class="col-8">

                        <button type="button" class="btn btn-primary" onclick="GetPrint()">Print</button>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<script src="~/assets/js/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#addButton').click(function () {
            var selectedContent = $('#selectBox').val();
            var selectedContent2 = $('#selectBox2').val();
            var inputValue = $('#textInput').val();
            var additionalInputValue = $('#additionalInput').val();
            var store = $('#store').val();

            if (selectedContent !== '') {
                var newRow = '<tr><td>' + selectedContent + '</td><td>' + selectedContent2 + '</td><td>' + inputValue + '</td><td>' + additionalInputValue + '</td></tr>';
                $('#contentTable tbody').append(newRow);
            }
        }),
            $('#sendButton').click(function () {
                var InventoryVoucherItem = [];
                $('#contentTable tbody tr').each(function () {
                    var productsRef = $(this).find('td:eq(0)').text();
                    var unitRef = $(this).find('td:eq(1)').text();
                    var quantity = $(this).find('td:eq(2)').text();
                    var description = $(this).find('td:eq(3)').text();

                    var item = {
                        ProductsRef: productsRef,
                        UnitRef: unitRef,
                        Quantity: parseInt(quantity), // Convert to int
                        Description: description,
                        storeref: $("#store").val(),
                        nummber: $("#nummber").val(),
                        SupplierRef: $("#SupplierRef").val(),
                        Dates: $("#Dates").val(),
                        VoucherType: $("#VoucherType").val()
                    }

                    InventoryVoucherItem.push(item);
                });

                console.log(InventoryVoucherItem)
                $.ajax({
                    url: '/Purchuse/Create', // Replace with your controller's action URL
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(InventoryVoucherItem),
                    success: function (response) {
                        alert('Data sent successfully!');
                    },
                    error: function (error) {
                        alert('Error sending data: ' + error.statusText);
                    }
                });
            });


    });
</script>
 