@model InventoryApplicationContract.FiscalyearApp_Contract.CreateFiscalYear
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>سال  مالی</h4>
                <h6>فزودن مدیریت سال مالی</h6>
            </div>
        </div>
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>نام سال مالی</label>
                                <input type="text" asp-for="name">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>تاریخ شروع</label>
                                <div class="input-groupicon">
                                    <input type="text" placeholder="DD-MM-YYYY" class="datetimepicker" asp-for="EDateTime"> 
                                    <div class="addonset">
                                        <img src="~/assets/img/icons/calendars.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>تاریخ پایان</label>
                                <div class="input-groupicon">
                                    <input type="text" placeholder="DD-MM-YYYY" class="datetimepicker" asp-for="EDateTime">
                                    <div class="addonset">
                                        <img src="~/assets/img/icons/calendars.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>توضیحات</label>
                                <textarea class="form-control" asp-for="desccription"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <input class="btn btn-submit me-2" type="submit" placeholder="submit">
                            <a href="statelist.html" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>


        </form>

    </div>
</div>